#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
  --borderColor: #777;
}

hr {
  border: 1px solid var(--borderColor);
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  background-color: var(--borderColor);
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btnAddExp {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2rem;
  font-weight: 700;
}

/* --------------------------------------------------- */

header {
  text-align: center;
  border-bottom: 2px solid var(--borderColor);
}

main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  padding: 2em;
}

main > section {
  padding: 1em;
  min-height: 100vh;
  border: 2px solid black;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.153);
}

.practicalExperience,
.educationTitle,
.personaliaTitle {
  display: flex;
  justify-content: space-between;
}

.workTitle {
  display: block;
  border: 1px solid black;
  font-weight: 700;
  padding: 1em;
  background-color: #cfcfcf3a;
  border-radius: 5px;
}

/* -------------------------Education Display Section---------------------------- */
.eduTitle {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.workTitle > form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.practExpTitle,
.educationTitle {
  display: flex;
  justify-content: space-between;
}

.EditBtn {
  border: none;
  outline: none;
  transition: 0.2s;
}

.EditBtn:hover {
  transform: scale(1.1);
}

.EditBtn:active {
  transform: scale(0.9);
}

.deleteDiv {
  display: flex;
  justify-content: space-between;
}

.deleteImg {
  width: 20px;
  height: auto;
}
